MGT6203 Team 64 - Code Requirements

R packages/libraries required:
install.packages("dplyr")
install.packages('corrplot')
install.packages("ggpubr")
install.packages("Gally")
install.packages("ggcorrplot")
install.packages("ggplot2")
install.packages("ggrepel")
install.packages("lubridate")
install.packages(“caret”)
install.packages(“glmnet”)
install.packages(“car”)
install.packages(“pls”)
install.packages("readxl")
install.packages("tidyr")
install.packages("gganimate")
install.packages("gifski")


library(dplyr)
library(corrplot)
library(ggpubr)
library(GGally)
library(ggcorrplot)
library(ggplot2)
library(ggrepel)
library(lubridate)
library(caret)
library(glmnet)
library(car)
library(pls)
library(readxl)
library(tidyr)
library(gganimate)
library(gifski)

